<!DOCTYPE html>
<html ng-app='mailist'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>mailist - get your to:'s out painlessly</title>

        <link rel="shortcut icon" href="favicon.ico" />

        <link rel="stylesheet" href="vendors/bootstrap-3.3.5-dist/css/bootstrap.css">
        <link rel="stylesheet" href="vendors/font-awesome-4.4.0/css/font-awesome.css">
        <link rel="stylesheet" href="vendors/textAngular-1.4.0/textAngular.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Brand</a>
                </div>
            </div>
        </nav>
 
        <section class="queue-list col-md-6" ng-controller="ListCtrl as vm">
            <file-read class="list"></file-read>
            <table ng-init="listData = vm.queueList.listData">
                <thead>
                    <tr>
                        <td ng-repeat="field in listData.queueList.fields">{{ field }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{ active: listData.activeListingIndex === $index }" 
                        ng-click="vm.updateActiveListing($index)"
                        ng-repeat="item in listData.queueList.entries">
                        <td ng-repeat="col in item">{{ col }}</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="composer col-md-6" ng-controller="TextCtrl as vm" ng-init="listData = vm.queueList.listData">
            <template-read class="template" ></template-read>
            <input class="email" type="text" ng-model="listData.activeListing[0]">
            <text-angular ng-model="vm.activeListingHtml"></text-angular>
            <button class="btn btn-primary">Submit</button>
        </section>

        <script src="vendors/underscore-1.8.3/underscore-min.js"></script>
        <script src="vendors/jquery-1.11.3/jquery-1.11.3.js"></script>
        <script src="vendors/angular-1.4.5/angular.js"></script>

        <!--ui-sortable-->
        <script src="vendors/jquery-ui-1.11.4/jquery-ui.js"></script>
        <script src="vendors/ui-bootstrap-0.13.4/ui-bootstrap-tpls-0.13.4.js"></script>
        <script src="vendors/angular-ui-sortable-0.13.4/sortable.js"></script>

        <!--textangular-->
        <script src="vendors/textAngular-1.4.0/textAngular-rangy.min.js"></script>
        <script src="vendors/textAngular-1.4.0/textAngular-sanitize.min.js"></script>
        <script src="vendors/textAngular-1.4.0/textAngular.min.js"></script>

        <!--csv.js-->
        <script src="vendors/csv.js/csv.js"></script>

        <script src="js/app.js"></script>

    </body>
</html>
